<mat-card>
  <mat-card-title>{{(event | async)?.name}}</mat-card-title>
  <mat-card-content>
    <p>{{(event | async)?.description}}</p>
    <ng-container>
      <mat-icon>alarm</mat-icon> {{(event | async)?.startsOn | date}}
    </ng-container>
    <ng-container *ngIf="(event | async)?.endsOn">
      <mat-icon>alarm</mat-icon> {{(event | async)?.endsOn | date}}
    </ng-container>

    <app-task-lisk
      [taskList]="(eventTasks | async)"
      [eventId]="eventId"></app-task-lisk>
    <button mat-raised-button color="primary"
            *ngIf="!shouldShowTaskForm" (click)="showTaskForm()">Ajouter une tâche</button>
    <app-task-form *ngIf="shouldShowTaskForm"
                   [eventId]="eventId"
                   (onFormClosed)="onCreationFormEvent($event)"></app-task-form>
  </mat-card-content>
</mat-card>
