<mat-card>
  <mat-card-title>
    {{(event | async)?.name}}
    <button mat-icon-button color="primary" (click)="showUserSelector()">
      <mat-icon aria-label="Show user selector">group_add</mat-icon>
    </button>
  </mat-card-title>
  <mat-card-content>
    <p>{{(event | async)?.description}}</p>
    <div>
      <ng-container>
        <mat-icon>alarm</mat-icon> {{(event | async)?.startsOn | date}}
      </ng-container>
      <ng-container *ngIf="(event | async)?.endsOn">
        <mat-icon>alarm</mat-icon> {{(event | async)?.endsOn | date}}
      </ng-container>
    </div>

    <app-task-lisk
      [taskList]="(eventTasks | async)"
      [eventId]="eventId"></app-task-lisk>
    <button mat-raised-button color="primary"
            *ngIf="!shouldShowTaskForm" (click)="showTaskForm()">Ajouter une tâche</button>
    <app-task-form *ngIf="shouldShowTaskForm"
                   [eventId]="eventId"
                   (onFormClosed)="onCreationFormEvent($event)"></app-task-form>
  </mat-card-content>
</mat-card>
